<div class="well">
    <h4 style="text-align: center;"><strong>My Stats</strong></h4>
    <hr/>
    <div class="row">
        <div class="col-md-6 align-right">
            <strong>Answered</strong>
        </div>
        <div class="col-md-6">
            10
        </div>
        <div class="col-md-6 align-right">
            <strong>Correct</strong>
        </div>
        <div class="col-md-6">
            10
        </div>
        <div class="col-md-6 align-right">
            <strong>% Correct</strong>
        </div>
        <div class="col-md-6">
            100%
        </div>
        <div class="col-md-6 align-right">
            <strong>Ranking</strong>
        </div>
        <div class="col-md-6" style="margin-right: 0; padding-right: 0">
            10 out of 12345
        </div>
    </div>
</div>
