<div class="well">
    <h4 style="text-align: center;"><strong>My Stats</strong></h4>
    <hr/>
    <div class="row">
        <div class="col-md-6 align-right">
            <strong>Answered</strong>
        </div>
        <div class="col-md-6">
            {{currentUser.stats.total_attempts}}&nbsp;
        </div>
        <div class="col-md-6 align-right">
            <strong>Correct</strong>
        </div>
        <div class="col-md-6">
            {{currentUser.stats.total_correct}}&nbsp;
        </div>
        <div class="col-md-6 align-right">
            <strong>% Correct</strong>
        </div>
        <div class="col-md-6">
            <span *ngIf="currentUser.stats.total_correct && currentUser.stats.total_attempts">
                {{100 * currentUser.stats.total_correct / currentUser.stats.total_attempts | number}} %
            </span>
            &nbsp;
        </div>
        <div class="col-md-6 align-right">
            <strong>Ranking</strong>
        </div>
        <div class="col-md-6" style="margin-right: 0; padding-right: 0">
            1 out of 12345&nbsp;
        </div>
    </div>
</div>
