<h2>Submit a question</h2>

<form>
    <div class="form-group">
        <label>Question</label>
        <textarea [(ngModel)]="question.text" name="text" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Answers</label>
        <p *ngFor="let a of question.answers; let i = index">
            <input type="text" [(ngModel)]="question.answers[i].text" name="answer-{{i}}" class="form-control" style="display: inline-block; width: 75%"/>
            &nbsp;<input type="checkbox" name="correct" (click)="selectCorrect(i)" [checked]="question.answers[i].correct" id="checkbox{{i}}" tabindex="-1"/> <label for="checkbox{{i}}">Correct</label>
            <button *ngIf="(question.answers.length - 1) == i" (click)="addAnswer()" class="btn" tabindex="-1"><i class="fa fa-plus-circle"></i></button>
            <button *ngIf="(question.answers.length - 1) != i" (click)="removeAnswer(i)" class="btn" tabindex="-1"><i class="fa fa-minus-circle"></i></button>
        </p>
    </div>
    <div class="form-group">
        <label>JSTOR Source</label>
        <input type="text" [(ngModel)]="question.sources[0].url" name="source" class="form-control"/>
    </div>
    <button (click)="submitQuestion()" class="btn btn-primary">Submit</button>
    <a routerLink="/" class="btn btn-default">Cancel</a>

    <div *ngIf="updateSuccess" style="margin: 1em;">
        <div class="alert alert-success">
            <strong>Thank you!</strong> Your question was added successfully!
        </div>

        <i>{{updateSuccess.text}}</i>
    </div>

</form>
