<h2>Submit a question</h2>
<form>
  <p><label>Question:</label> <input type="text" [(ngModel)]="question.text" name="text"></p>
  <p>Answers:</p>
  <p *ngFor="let a of question.answers; let i = index"><input type="text" [(ngModel)]="question.answers[i].text" name="answer-{{i}}" />
    <input type="checkbox" name="correct" (click)="selectCorrect(i)" [checked]="question.answers[i].correct"/>
    <button *ngIf="(question.answers.length - 1) == i" (click)="addAnswer()">+</button>
    <button *ngIf="(question.answers.length - 1) != i" (click)="removeAnswer(i)">-</button>
  </p>
  <p><label>Source:</label> <input type="text" [(ngModel)]="question.sources[0].url" name="source"></p>
  <button (click)="submitQuestion()">Submit</button>
</form>